{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}



<div class="page-header">
    <h1>Batiment</h1>
        <p><a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-plus"></span> Ajouter un batiment
        </a>
        </p>
        {{wtf.quick_form(form2)}}
    {% if all_batiments %}
        {% for batiment in all_batiments %}
            <p>logement: {{batiment.name}}
            <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='{{ url_for( 'index') }}';">Editer</button>
            </p>
        {% endfor %}
    {% endif %}

    <h1>Logement</h1>

    <p><a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-plus"></span> ajouter un logement
    </a></p>
    {% if not all_logements %}
    {% for logement in all_logements %}
            <p>logement: {{logement.name}} loyer: {{ logement.loyer }}
            <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='{{ url_for( 'index') }}';">Editer</button>
            </p>
        {% endfor %}
    {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>
{{ wtf.quick_form(form) }}

{% endblock %}